@font-face {
    font-family: BugniFont;
    src: url(bugni-cardo-bold.ttf);
}

.navbar-brand{
    font-family: BugniFont;
    color: #A4520B;
}

footer.footer {
    text-align: center;
    padding: 3px;
    background-color: lightgrey;
    color: black;
    display: block;
    bottom: 0;
}


.footer-column{
    float: left;
    padding-top: 20px;
}

.navbar-custom .navbar-brand{
    color: #A4520B;
    transition: all 0.5s;
}

.navbar-nav a{
    transition: all 0.7s;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 992px) {
    /* .embed-responsive-item{

    } */
}
.email_div_class{
    display: none;
}

.no_click_div{
    display: none;
}

/* #yesno_button_yes:active{
    
} */

#email_input{
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 4px;
    text-decoration: none;
}

#register_id{
    font-size: 25px;
    font-weight: bold;
}

#footer_love_id{
    padding-left: 70px;

}

#logo_bugni{
    height: 75px;
    width: 80px;
}

p.copyright {
    color: black;
    line-height: 40px;
    font-size: 0.35cm;
    position: relative;
    bottom: 0;
}


body
{
    text-align: center;
}
#home {
    color: darkgray;
    bottom: 0;
    /* background: linear-gradient(#C56E33 50%, #A4520B 100%); */
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#about{
    /* font-family: 'Cinzel Decorative', cursive;    */
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


#videos iframe
{
    width: 80%;
}

.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999
}

/* input
{
    background: grey;
} */

/* cite {
    color: #252525;
  } */

.quote {
    margin: 0;
    padding: 1em;
    border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
    margin: 0.1em;
}